/****CSS stylesheet for Module-2 solution****/
* {
	box-sizing: border-box;
}

.row h1 {
	text-align: center;
}

.row .col-lg-4 {
	float: left;
	width: 33.33%;
	padding: 10px;
}

.row .section {
	border: 1px solid black;
}

.row .section h2 {
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	margin-top: 0px;
	float: right;
}

.row .section p {
	clear: right;
	margin: 15px;
}

.row #p1 {
	background-color: lightblue;
}

.row #p1 h2, #p2 h2, #p3 h2 {
	background-color: tomato;
}

.row #p2 {
	background-color: lightgreen;
}

.row #p3 {
	background-color: yellow;
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.row .col-md-2 {
		float: left;
		width: 50%;
		padding: 10px;
	}

	.row .col-md-12 {
		float: left;
		width: 100%;
		padding: 10px;
	}
}

@media (max-width: 767px) {
	
	.row .col-sm-12 {
		float: left;
		width: 100%;
		padding: 10px;
	}
}
